@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1700px)
  .result-learn
    -webkit-background-size: cover
    background-size: cover

@media only screen and (max-width: 1620px)
  .author-img
    max-width: 500px

  .author-wrapper
    padding: 332px 0 432px
    min-width: 1700px
    left: 50%
    transform: translateX(-50%)
    margin: 0

@media only screen and (max-width: 1575px)
  .main-decor4
    max-width: 650px

  .main-decor3
    max-width: 277px
    bottom: -200px

  .main-decor2
    max-width: 500px

  .about-footer
    margin: 843px 0 0

  .about-decor2
    width: 1515px

  .about .title-gradient-img
    margin: 106px 0 0


@media only screen and (max-width: 1200px)
  .main-decor2
    max-width: 400px

  .main-decor4
    max-width: 550px


  .certificate
    margin: 90px 0 920px

  .img-lupe
    max-width: 203px
    bottom: -28px

  .panel-collapse-decor2
    max-width: 158px
    top: 40px
    left: -70px

  .panel-collapse-decor1
    max-width: 190px
    right: -120px
    top: 40%
    left: auto

  .panel-collapse-decor3
    max-width: 150px
    top: 55%
    left: 40px
    transform: rotate(180deg)

  .panel-collapse-decor4
    max-width: 170px
    right: -40px
    top: 20%
    left: auto


  .btn-toggle
    bottom: 0
    right: 0
    position: relative
    transform: none
    margin: 38px auto 0

  .panel-collapse__head
    flex-wrap: wrap
    padding: 0 40px 40px

  .stages-learn__name
    order: 1
    padding: 0
    text-align: center
    width: 100%

  .stages-learn__number-name
    text-align: center
    letter-spacing: -1.5px
    margin: 0 auto 18px

    .first-letter
      font-size: 60px
      font-family: $font
      letter-spacing: -1.5px
      line-height: 1.28

  .stages-learn__number
    margin: -100px auto 0

  .panel-collapse__head-content
    width: 100%
    display: flex
    flex-wrap: wrap

  .panel-collapse__body
    padding: 110px 50px 100px

  .panel-collapse__body-head .title-gradient
    font-size: 50px
    margin: 73px 0 0
    padding: 62px 0 0
    border-top: 2px solid $accent

  .panel-collapse__body-head
    border: none
    padding: 0
    margin: 0 0 110px

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px)
  .main-decor1, .main-decor2
    display: none

  .home
    padding: 114px 0 57px
    position: relative

    &:before
      content: ''
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)
      background: url("../img/decor1-tablet.png") no-repeat center
        size: 100%
      width: 768px
      height: 1080px

    .btn
      margin: 0 auto

  .subtitle
    text-align: center
    max-width: 235px
    width: 100%
    font-size: 38px
    line-height: 1.26
    margin: 54px auto 420px

  .name-author
    order: -1
    text-align: center

  .home-content
    display: flex
    flex-direction: column
    align-items: center

  h1
    font-size: 88px
    line-height: 0.96
    margin: 0 auto

    .first-letter
      font-size: 197.5px

  .title-decor
    padding: 0 0 0 200px

  h1 .title-decor:before
    width: 215px
    height: 204px
    left: 143px

  .date-course
    font-size: 60px
    line-height: 1
    max-width: 315px
    width: 100%
    margin: 59px auto 46px
    text-align: center

  .price-course
    text-align: center
    font-size: 33px
    max-width: none

  .main-decor4
    max-width: 476px
    top: 344px

  .main-decor3
    bottom: auto
    top: 306px

  .author-img
    max-width: 400px

  .for-whom-box
    width: 100%
    margin: 0 0 80px

    &:last-child
      margin: 0

    .box-text
      max-width: 420px
      margin: 0 auto

  .for-whom h2
    margin: 0 auto 84px

  .result-learn
    padding: 650px 0 650px

    h2
      margin: 0 auto 83px

  .result-learn-box
    width: 100%
    margin: 0 auto 57px

    .box-text
      max-width: 490px

  .result-learn__decor
    margin: 0
    width: calc(100% + 100px)

  .certificate-image
    max-width: 768px

  .img-lupe
    bottom: -100px
    right: 100px

@media only screen and (max-width: 850px)
  .author-img
    max-width: 644px
    margin: 0
    order: 1

  .author-text
    margin: 0 auto 60px

  .author-decor
    display: none

  .author-bg
    width: 100%
    height: 100%
    background: url("../img/autor-bg-tablet.png") no-repeat center top
      size: contain

    img
      display: none

  .author-wrapper
    flex-direction: column
    align-items: center
    padding: 387px 40px 120px
    position: relative

    &:before
      content: ''
      position: absolute
      left: 0
      bottom: 0
      width: 100%
      height: 523px
      background: url("../img/autor-decor-tablet2.png") no-repeat center
        size: contain
      z-index: 2


/* Small Devices, Tablets */
@media only screen and (max-width: 768px)
  .about-decor1
    max-width: 768px
    min-width: 768px
    bottom: 370px
    background: url("../img/bg2-tablet.png") no-repeat center
      size: 100%
    height: 927px

    img
      display: none

  .about
    .box-text
      max-width: 660px
      width: 100%
      margin: 0 auto

    .title-gradient span
      max-width: 440px
      margin: 0 auto

  .about-decor2
    bottom: 38%

  .title-gradient-dots:before
    width: 611px
    height: 926px
    background: url("../img/dots-tablet.png") no-repeat center
      size: 100%
    left: 50%
    top: 60%

  h3
    font-size: 40px

  .result-learn
    padding: 650px 0 550px

  .result-learn:before
    background: url("../img/result-decor-tablet.png") no-repeat center top
      size: 100%

  .result-learn__decor
    width: calc(100% + 30px)
    margin: 0 -15px
    height: 825px
    background: url("../img/result-decor-tablet2.png") no-repeat center top
      size: 100%

    img
      display: none


  .img-lupe
    right: 40px
    bottom: -130px

/* Extra Small Devices, Phones */
@media only screen and (max-width: 700px)
  .title-gradient
    font-size: 40px

@media only screen and (max-width: 630px)
  h2
    font-size: 37.5px
    line-height: 48px
    letter-spacing: -0.94px

    .first-letter
      font-size: 87.5px
      line-height: 48px

  .home
    padding: 71px 0 35px

  .btn-accent
    width: 350px
    height: 133px
    font-size: 21px

  .price-course
    font-size: 20.5px
    line-height: 1.49

  .date-course
    margin: 36px auto 29px
    font-size: 37.5px
    max-width: 210px

  h1
    font-size: 55px
    line-height: 0.96

    .first-letter
      font-size: 123.5px
      line-height: 53px

  h1 .title-decor:before
    width: 134px
    height: 127px
    top: -53px
    left: 70px

  h1 .title-decor
    padding: 0 0 0 130px

  .subtitle
    margin: 34px 0 262px
    font-size: 23.5px

  .name-author
    font-size: 56px

  .main-decor3
    max-width: 174px
    top: 191px

  .main-decor4
    max-width: 298px
    top: 191px

  .home:before
    width: 700px
    height: 700px
    top: 0
    transform: translate(-50%, 0)
    background-position: center top
    -webkit-background-size: contain
    background-size: contain

  .box-text
    font-size: 20.5px
    line-height: 1.32

  .about h2
    margin: 50px 0 0

  .title-gradient
    font-size: 30px
    line-height: 37.5px

    span
      font-size: 20.5px
      line-height: 1.32

  h3
    font-size: 37.5px
    line-height: 45px

  .about .title-gradient-img
    margin: 85px 0 0

  .about-footer
    margin: 526px 0 0

  .about
    padding: 0 0 66px

  .about-decor1
    width: 100%
    height: 770px
    bottom: 130px
    background-position: center top


  .about-decor2
    width: 947px
    bottom: 44%

  .title-gradient-dots:before
    width: 383px
    height: 580px
    top: 250px

  .result-learn
    padding: 460px 0 364px
    &:before
      height: 808px
      bottom: -20px
    h2
      margin: 0 auto 51px

  .result-learn-box
    margin: 0 auto 42px
    .box-text
      max-width: 300px

  .result-learn-box__icon
    height: 224px
    img
      max-height: 100%

  .result-learn__decor
    margin: 40px -15px 0
    height: 517px

  .stages-learn__number-name
    font-size: 37px
    line-height: 48px
    letter-spacing: -0.94px
    margin: 0 auto 11px
    .first-letter
      font-size: 37px
      line-height: 48px
      letter-spacing: -0.94px

  .stages-learn__name
    font-size: 18.5px
    letter-spacing: -0.46px
    line-height: 1.35

  .btn-toggle
    font-size: 15px
    margin: 23px auto 0
    line-height: 1.57

  .panel-collapse__head
    padding: 0 25px 25px

  .stages-learn__number
    width: 227px
    min-width: 227px
    height: 227px
    font-size: 57.5px
    line-height: 48px
    letter-spacing: -1.44px
    margin: -60px auto 0

  .panel-collapse-decor2
    max-width: 99px
    left: -50px
    bottom: auto
    top: 20px

  .panel-collapse-decor1
    max-width: 119px
    right: -100px

  .panel-collapse-decor3
    max-width: 94px
    top: 35%
    left: 30px

  .panel-collapse-decor4
    max-width: 106px

  .panel-collapse
    margin: 0 0 109px

  .panel-collapse__body-head .title-gradient
    margin: 38px 0 0
    padding: 46px 0 0
    font-size: 46px

  .panel-collapse__body-head h6
    font-size: 18.5px
    line-height: 1.35

  .panel-collapse__body-head
    margin: 0 0 68px

  .certificate
    margin: 20px 0 612px

  .certificate-image
    max-width: 470px
    margin: 0 auto 50px

  .img-lupe
    max-width: 128px
    right: 46px
    bottom: -82px

@media only screen and (max-width: 480px)
  .about-decor1
    width: 480px
    height: 581px
    bottom: 230px
    -webkit-background-size: contain
    background-size: contain
    background-position: left top

  .author-wrapper:before
    height: 327px
    bottom: 89px

  .author-img
    width: 100%
    max-width: 403px
    height: 699px
    margin: 0 -20px 0 0
    background: url("../img/autor-img-mob.png") no-repeat center
      size: 100%
    img
      display: none

  .author-wrapper
    min-width: auto
    padding: 242px 40px 0

  .author-text
    max-width: 260px
    margin: 0 auto 39px

    h4
      font-size: 20.5px
      line-height: 25px

    &:before
      width: 113px
      height: 88px
      top: -118px

  .for-whom
    h2
      margin: 0 auto 52px

  .for-whom-box__icon
    width: 137px
    height: 137px
    margin: 0 auto 32px
    img
      min-width: 240px
      width: 240px

  .for-whom-box
    margin: 0 auto 52px
    .box-text
      max-width: 260px
      width: 100%
      letter-spacing: -0.21px
      line-height: 1.15

  .panel-collapse h3
    font-size: 30px
    line-height: 23.5px

  .date-learn
    font-size: 30px
    line-height: 30px

  .stages-learn__item
    margin: 0 0 50px

  .panel-collapse__body
    padding: 68px 35px 62px


/* Custom, iPhone Retina */
@media only screen and (max-width: 320px)
  /**/

